.vs
.vs/*
.github
CleanArchMvc.Application/obj/*
CleanArchMvc.Domain/obj/*
CleanArchMvc.Infra.Data/obj/*
CleanArchMvc.Infra.IoC/obj/*

CleanArchMvc.Application/bin/*
CleanArchMvc.Domain/bin/*
CleanArchMvc.Infra.Data/bin/*
CleanArchMvc.Infra.IoC/bin/*